.thumbnail {
    width: 100px;
    border-radius: 50%;
}

.table > tbody > tr > td {
    vertical-align: middle;
    text-align: center;
}

.table > tbody > tr > th {
    vertical-align: middle;
    text-align: center;
}

.table > thead > tr > th {
    text-align: center;
}

#accordionSidebar {
    position: relative;
}
#navbar {
    position: relative;
}
#page-content {
    position: relative;
}

.user-details {
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
}

.role-profile {
    margin-left: 15px;
    text-align: center;
}

.newsflash-img {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.podcast-img {
    width: 400px;
    height: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.justify {
    text-align: justify;
}

.tombol-newsflash {
    margin-top: 88px;
    margin-left: -5px;
}